<footer>
    <div class="container-fluid bg-header">
        <div class="container-xl container-lg container-md">
            <div class="head">
                <img class="logo" src="./assets/img/logo.png" alt="">
                <div class="wrap-ft">
                    <ul>
                        <li>Home</li>
                        <li>About us</li>
                        <li>Order now</li>
                        <li>Disclaimer</li>
                        <li>why us</li>
                        <li>contact</li>
                        <li>blog</li>
                    </ul>
                </div>
            </div>
            <div class="list-fut">
                <ul> <p class="ul">Section number1</p> 
                    <li>But I must explain to you how </li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                </ul>
                <ul> <p class="ul">Section number2</p> 
                    <li>But I must explain to you how </li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                </ul>
                <ul> <p class="ul">Section number3</p> 
                    <li>But I must explain to you how </li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                </ul>
                
                <ul> <p class="ul">Section number4</p> 
                <li>But I must explain to you how </li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                </ul>
            </div>
            <div class="nightmare">
                <ul>
                   <li>Copyright В© 2017 BlueEssaySite.net<br>
                    All rights reserved.</li>
                   <li>Troll free:<br>
                    <span>+ 3 044 111 2732</span></li>
                   <li>Email:<br>
                    <span>blueessaysite@gmail.com</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>