{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
<header>
    <div class="container-fluid bg-header">
        <div class="container-xl container-lg container-md head">
            <img class="logo" src="./assets/img/logo.png" alt="">
            <div class="wrap-hd">
                <ul>
                    <li class="li">services</li>
                    <li class="li">about us</li>
                    <li>how it work</li>
                </ul>
                <img class="phone" src="./assets/img/phone_icon.png" alt="">
                <button class="blue-small size-sm button">sing in</button>
                <button class="orange-small size-sm button">order</button>
                <button class="menu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-md">
        <div class="container-xl container-lg container-md container-sm">
            <div class="head-md">
                <div class="md">
                    <div class="left">
                        <h2>BlueEssaySite.net -</h2>
                        <h3>expert help for custom Written</h3>
                        <p class="">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
                        <button class="orange size">Place an order</button>
                    </div>
                    <!-- <ul>
                        <li class="list">home</li>
                        <li class="list">pages</li>
                        <li class="blog">blog page</li>
                    </ul> -->
                    <img src="./assets/img/img_girl.png" alt="">
                </div>
            </div>
        </div>
    </div>
<div class="container-xl container-lg container-md container-sm">
    <div class="navigation inputs">
        <ul class="ll">
                <li><label for="select">Type of paper</label></li>
            <li>
                <select name="name" class="second" placeholder='placeholder text'>
                <option>placeholder text</option>
                <option>Saab</option>
                <option>Fiat</option>
                <option>Audi</option>
                </select>
            </li>
        </ul>
        <ul>
            <li>
                <label for="Writer level">Writer level</label>
            </li>
            <li>
                <select class="second" placeholder='placeholder text'>
                    <option>Hight school</option>
                    <option>school</option>
                    <option>low school</option>
                 </select>
            </li>
        </ul>
        <ul>
            <li>
                <label for="">Urgency</label>
            </li>
            <li>
                <select class="second" placeholder='placeholder text'>
                    <option>21 days</option>
                    <option>1 month</option>
                    <option>3 month</option>
                    <option>5 month</option>
                </select>
            </li>
        </ul>
        <ul>
            <li><label for="">Number of pages</label></li>
            <li><input type="number"></li>
        </ul>
        <ul>
            <li class="invis">invisibility</li>
            <li><button class="blue">Continue</button></li>
        </ul>
    </div>
    <div class="grap">
        <img src="./assets/img/Welcome .png" alt="">
        <div >
            <a href="">01  Welcome to Sitename</a>
            <h4>Do you need essay help from a good writing service?</h4>
            <p>
                If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service. 
            </p>
            <p>
                Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid bg-mdb">
    <div class="container-xl container-lg container-md container-sm cover">
        <a href="">02  Our advantages</a>
        <h3>Advantages of Our Writing Services</h3>
            <div class="bdb">
                <div>
                    <img src="./assets/img/kubok.png" alt="">
                    <h5>Professionally-qualified writing experts</h5>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>
                <div>
                    <img src="./assets/img/list.png" alt="">
                    <h5>Commitment to deliver papers by deadline</h5>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>
                <div>
                    <img src="./assets/img/komp.png" alt="">
                    <h5>Top-quality, at a great price - guaranteed</h5>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                </div>
            </div>
            <button class="big-blue size">Place an order</button>
        </div>
    </div>
</div>
    <div class="container-xl container-lg container-md container-sm cover2">
        <a href="">03  How it works</a>
        <h3>Our Simple 4-Step Procedure</h3>
            <div class="bmb">
                <div class="arrow_box">
                    <img src="./assets/img/pansil.png" alt="">
                    <h5>STEP 1</h5>
                    <p>Complete the short order form to buy a paper from our easy essay writing service.</p>
                </div>
                <div class="arrow_box">
                    <img src="./assets/img/emblem.png" alt="">
                    <h5>STEP 2</h5>
                    <p>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</p>
                </div>
                <div class="arrow_box">
                    <img src="./assets/img/lupa.png" alt="">
                    <h5>STEP 3</h5>
                    <p>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard</p>
                </div>
                <div class="b-none">
                    <img src="./assets/img/rocket.png" alt="">
                    <h5>STEP 4</h5>
                    <p>The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.</p>
                </div>
            </div>
    </div>
</header>
<div class="container-fluid bg-md-bot">
    <div class="container-xl container-lg container-md container-sm cover">
        <a href="">04 Discount</a>
        <h3>Our discount program</h3>
        <p>By utilizing elements and principles of Material Design, we were able to create a framework that incorporates</p>
        <img class="space-rocket" src="./assets/img/spase-rocket.png" alt="">
    </div>
    <div class="block-sell">
        <div class="block-left">
            <div class="one"><span class="upp-off">4%<br>off</span><p>for more than</p><span class="page">15 pages</span></div>
            <div class="too"><span class="upp-off">5%<br>off</span><p>for more than</p><span class="page">20 pages</span></div>
            <div class="three"><span class="upp-off">10%<br>off</span><p>for more than</p><span class="page">50 pages</span></div>
            <div class="four"><span class="upp-off">15%<br>off</span><p>for more than</p><span class="page">100 pages</span></div>
        </div>
        <div class="block-right">
            <div class="into">
                <h4>try our service &<br> get huge discounts</h4>
                <div class="inside">
                    <img class="scissors" src="./assets/img/scissors.png" alt="">
                    <span class="span">get</span><br>
                    <p>
                        15%<br>off
                    </p>
                    <span class="little">for your 1st order</span>
                    <img class="star" src="./assets/img/stars.png" alt="">
                </div>
                <i>Use <span>discount15</span> as a discount code</i>
                <img class="balloon" src="./assets/img/Balloon.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-xl container-lg container-md container-sm cover3">
    <a href="">05 Testimonials</a>
        <!-- Slideshow container -->
   <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <h2>What our clients says</h2>
            <img src="./assets/img/avatar.png" >
            <div class="">Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</div>
                <h3>Angela Row</h3><br>
                <span class="date">02 june 2021 at 11:42</span>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <h2>What our clients says</h2>
            <img src="./assets/img/avatar.png" >
            <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur neque, in deleniti iusto voluptatem  ratione enim culpa facere distinctio quidem facilis corporis modi illum. Rem est dolor non asperiores perferendis.</div>
            <h3>Lorna Grey</h3><br>
            <span class="date">23 june 2021 at 16:40</span>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <h2>What our clients says</h2>
            <img src="./assets/img/avatar.png" >
            <div class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil unde suscipit quod fugit odit dolores nobis distinctio, voluptatibus sequi, ipsam maiores deleniti provident iste impedit adipisci quis! Expedita sunt suscipit reprehenderit cum voluptatem velit quo, tenetur, enim atque numquam et?</div>
            <h3>Soren</h3><br>
            <span class="date">01 apr 2021 at 21:00</span>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        </div>
</div>

<script>
    let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

{% endblock %}