{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
<header>
    <div class="container-fluid bg-header">
        <div class="container-xl container-lg container-md head">
            <img class="logo" src="./assets/img/logo.png" alt="">
            <div class="wrap-hd">
                <ul>
                    <li class="li">services</li>
                    <li class="li">about us</li>
                    <li>how it work</li>
                </ul>
                <img class="phone" src="./assets/img/phone_icon.png" alt="">
                <button class="blue-small size-sm button">sing in</button>
                <button class="orange-small size-sm button">order</button>
                <button class="menu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-md">
        <div class="container-xl container-lg container-md ">
            <div class="head-md">
                <div class="md">
                    <div class="left">
                        <h2>BlueEssaySite.net -</h2>
                        <h3>expert help for custom Written</h3>
                        <p class="">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized</p>
                        <button class="orange size">Place an order</button>
                    </div>
                    <!-- <ul>
                        <li class="list">home</li>
                        <li class="list">pages</li>
                        <li class="blog">blog page</li>
                    </ul> -->
                    <img src="./assets/img/img_girl.png" alt="">
                </div>
                <div class="navigation inputs">
                    <label for="select">Type of paper</label>
                    <select class="second" placeholder='placeholder text'>
                        <option>placeholder text</option>
                        <option>Saab</option>
                        <option>Fiat</option>
                        <option>Audi</option>
                    </select>
                    <label for="Writer level"></label>
                    <select class="second" placeholder='placeholder text'>
                        <option>Hight school</option>
                        <option>school</option>
                        <option>low school</option>
                    </select>
                    <label for="Writer level"></label>
                    <select class="second" placeholder='placeholder text'>
                        <option>21 days</option>
                        <option>1 month</option>
                        <option>3 month</option>
                        <option>5 month</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}